ion-tab-bar{

    border-top: none;
    align-items: flex-end;

    ion-tab-button{
        background: #333333;
    }

    ion-tab-button:nth-child(2){
        border-top-right-radius: 20px;
    }

    ion-tab-button:nth-child(4){
        border-top-left-radius: 20px;
    }

    ion-tab-button:nth-child(3){
        height: 30px;
    }

}