<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{giftcard?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let code of giftcard?.codes">
      <ion-label>{{code.code}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button 
    expand="block"
    (click)="createCode()" 
  >
    <ion-icon name="add"></ion-icon>
    Generate Code
  </ion-button>
</ion-content>